.all {
  background-color: #212121;
}

.sidebar {
  position: fixed;
  z-index: 100;
}

.top {
  display: flex;
  flex-direction: row;
  padding-left: 100px;
}

.mid {
  display: flex;
  flex-direction: column;
  margin: 50px;
}

.right {
  padding-top: 50px;
  display: flex;
  align-items: flex-start;
  width: -webkit-fill-available;
  justify-content: flex-start;
}

.loading {
  display: flex;
  justify-content: center;
  height: -webkit-fill-available;
  align-items: center;
  background-color: #212121;
}

@media screen and (max-width: 767px) {
  .all {
    display: flex;
    flex-direction: column;
  }

  .top {
    padding-left: 10px;
    padding-right: 10px;
  }

  .mid {
    margin: 20px;
  }

  .right {
    padding-top: 20px;
  }
}